<div id="howToRent" class="card text-center">
    <div class="card-header">
      <h1>Policies</h1>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Rental Requirements:</p>
        <br>

        <p><strong>WEEKEND RENTALS</strong></p>

        <P>All Saturday reservations require a 2 day rental minimum as HTX offices are closed on Sundays.</P>

        <p><strong>DRIVERS LICENSE</strong></p>

        <p>A valid government-issued driver's license will be required of all drivers at the time of rental. The license may not be
            expired, cracked, broken, or temporary permit/license. International customers will be required to provide a passport,
            international drivers license and proof of insurance.
        </p>

        <p><strong>MINIMUM DRIVING AGE</strong></p>
        <p>All drivers must be 25 years or older.</p>

        <p><strong>INSURANCE & PAYMENT REQUIREMENTS</strong></p>
        <p>All renters are required to provide proof of full coverage liability insurance. We do not sell insurance coverage for our rentals.
            If you do not have full coverage verifiable insurance, we cannot rent a vehicle to you. We do accept certain credit card rental insurance
            which incurs a larger security damage deposit. All renters must have a valid drivers license, valid credit card for security damage deposit,
            and verifiable auto insurance with a minimum amounts in <u>property damage coverage</u>. Debit cards are accepted, but the deposit may be held
            longer after return.
        </p>

      </blockquote>
    </div>
  </div>